<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+类名 -->
<mapper namespace="com.springboot.dao.TestMapper">
    <!--id应该是接口中的方法，结果类型如没有配置别名则应该使用全名称 -->
    <select id="test" resultType="java.util.HashMap">
        SELECT * FROM test
    </select>
    <insert id="insert" parameterType="java.util.HashMap">
    	INSERT INTO test(test5,test6) VALUES(#{p1},#{p2})
    </insert>
</mapper>